<nav class="mobile-nav">
    <ul class="nav" role="menu">
        <li class="nav-home" role="menuitem"><a href="/">Home</a></li>
        <li class="nav-device-privacy-tips" role="menuitem"><a href="/tag/device-privacy-tips/">Device Tips</a></li>
        <li class="nav-privacy-newsletter" role="menuitem"><a href="/tag/privacy-newsletter/">Crash Course</a></li>
        <li class="linebreak"></li>
        <li class="nav-privacy-research" role="menuitem"><a href="/tag/research/">Research</a></li>
        <li class="nav-duckduckgo-news" role="menuitem"><a href="/tag/duckduckgo/">News</a></li>
        <li class="nav-opinion" role="menuitem"><a href="/tag/opinion/">Opinion</a></li>
        <li class="nav-about" role="menuitem"><a href="https://duckduckgo.com/about">About</a></li>
    </ul>
</nav>