<form class="newsletter js-newsletter" action="https://duck.co/s/a" method="post" name="y">
  <input type="hidden" name="page" value="1">
  <input type="hidden" name="flow" value="blog">
  <img class="newsletter__illustration--mobile" src="{{asset 'bird-illustration-mobile.svg'}}" />
  <img class="newsletter__illustration--desktop" src="{{asset 'bird-illustration-desktop.svg'}}" />
  <h1 class="newsletter__title">DuckDuckGo <br> Privacy Newsletters</h1>
  <h2 class="newsletter__tagline">Stay protected and informed with our privacy newsletters.</h2>
  <input class="newsletter__email" type="email" name="email" placeholder="Your email address" required>
  <div class="newsletter__checkbox">
    <div class="newsletter__checkbox-item">
      <input class="js-newsletter-checkbox" type="checkbox" id="tips" name="tips" checked="">
      <label class="" for="tips"><b>Privacy Crash Course</b> — Practical tips for keeping your personal info private. <a href="https://spreadprivacy.com/delete-google-search-history/" target="_blank">See example.</a></label>
    </div>
    <div class="">
      <input class="js-newsletter-checkbox" type="checkbox" id="news" name="news" checked="">
      <label class="" for="news"><b>Privacy Weekly</b> — Latest news for all things related to privacy. <a href="https://duckduckgo.com/assets/email/DuckDuckGo-Privacy-Weekly_sample.png" target="_blank">See example.</a></label>
    </div>
  </div>
  <input class="newsletter__submit" type="submit" value="Subscribe">
  <p class="newsletter__privacy">Your email address will not be shared or associated with anonymous searches.</p>
</form>
