<div class="side-nav">
    <div class="side-nav-container">
        {{#is "post"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}
        {{#is "author"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}
        {{#is "tag"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}
        {{#is "page"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}

        <a href="#" class="side-menu">
            {{> "icons/menu"}}
        </a>
    </div>
</div>

<nav class="side-bar hide">
    <button class="side-bar-close">{{> icons/close}}</button>
    <ul class="side-bar-list">
        <li class="side-bar-title">DuckDuckGo Search</li>
        <li>
          <a href="https://duckduckgo.com/">Private Search</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/settings#appearance">Themes</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/settings">All Settings</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/bangs">!Bang Search Shortcuts</a>
        </li>

        <li class="side-bar-title">Browser Downloads</li>
        <li>
          <a href="https://duckduckgo.com/ios">iOS</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/android">Android</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/mac">Mac</a>
          <div style="display: inline-flex;justify-content: center;align-items: center;box-sizing: border-box;padding: 3px 5px;margin-left: 4px;background: #f9be1a;border-radius: 4px;font-weight: 600;font-size: 10px;line-height: 1;letter-spacing: 0.04px;color: rgba(0, 0, 0, 0.9);">NEW</div>
        </li>
        <li>
          <a href="https://duckduckgo.com/windows">Windows</a>
          <div
            style="display: inline-flex;justify-content: center;align-items: center;box-sizing: border-box;padding: 3px 5px;margin-left: 4px;background: #f9be1a;border-radius: 4px;font-weight: 600;font-size: 10px;line-height: 1;letter-spacing: 0.04px;color: rgba(0, 0, 0, 0.9);">
            NEW</div>
        </li>
        <li>
          <a href="https://duckduckgo.com/duckduckgo-help-pages/desktop/adding-duckduckgo-to-your-browser/">Browser Extensions</a>
        </li>


        <li class="side-bar-title">Learn More</li>
        <li>
          <a href="https://duckduckgo.com/about">About Us</a>
        </li>
        <li>
          <a href="/">Privacy Blog</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/hiring">Careers</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/privacy">Privacy Policy</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/terms">Terms of Service</a>
        </li>

        <li class="side-bar-title">Other Resources</li>
        <li>
          <a href="https://duckduckgo.com/duckduckgo-help-pages/">Help</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/updates/">What’s New</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/newsletter">Privacy Newsletter</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/spread">Spread DuckDuckGo</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/press">Press Kit</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/duckduckgo-help-pages/company/advertise-on-duckduckgo-search">Advertise on Search</a>
        </li>
    </ul>
</nav>
