<div class="side-nav">
    <div class="side-nav-container">
        {{#is "post"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}
        {{#is "author"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}
        {{#is "tag"}}
            <a href="https://duckduckgo.com/" class="nav-logo">
                {{> "icons/logo-main"}}
            </a>
        {{/is}}

        <a href="#" class="side-menu">
            {{> "icons/menu"}}
        </a>
    </div>
</div>

<nav class="side-bar hide">
    <button class="side-bar-close">{{> icons/close}}</button>
    <ul class="side-bar-list">
        <li class="side-bar-title">Privacy Essentials</li>
        <li>
          <a href="https://duckduckgo.com/">Private Search</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/app">App and Extension</a>
        </li>

        <li class="side-bar-title">Why Privacy</li>
        <li>
          <a href="https://spreadprivacy.com/">Privacy Blog</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/newsletter">Privacy Crash Course</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/spread">Help Spread Privacy</a>
        </li>

        <li class="side-bar-title">Who We Are</li>
        <li>
          <a href="https://duckduckgo.com/about">About Us</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/privacy">Privacy Policy</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/hiring">Careers</a>
        </li>
        <li>
          <a href="https://duckduckgo.com/press">Press Kit</a>
        </li>

        <li class="side-bar-title">Keep In Touch</li>
        <li>
            <a href="https://twitter.com/duckduckgo">Twitter</a>
        </li>
        <li>
            <a href="https://reddit.com/r/duckduckgo">Reddit</a>
        </li>
        <li>
            <a href="https://duck.co/help">Help</a>
        </li>
    </ul>
</nav>