/* Spread Privacy
   ----------------------------

   This CSS contains all the changes that we want to do to
   the Casper theme. The modifications here match the styleguide
   of DuckDuckGo.
*/

:root {
    /* Colors */
    --lightblue: #60a5da;
    --blue: #3eb0ef;
    --secondary-text: #999;
    --primary-text: #333;

    /* Navigation */
    --nav-fontsize: 1.3rem;
    --nav-color: #333;
    --nav-separator: #e5e5e5;
    --nav-bottom-spacing: 2rem;
    --nav-max-width: 1040px;

    /* Site Header */
    --header-bottom-spacing: 2rem;

    /* Post */
    --post-spacing: 3rem;
}

/* Site Header
   ----------------------------
   Spacing between the title & subtitle vs the rest 
   of the content.
*/

.site-header {
    background: var(--lightblue);
    padding: 0 4vw;
    padding-bottom: var(--header-bottom-spacing);
}

.site-header-content {
    padding: 3vw 4vw;
    padding-top: 0;
    min-height: initial;
}

/*
   Desktop Navigation
   ----------------------------

   This is the navigation on bigger screen widths.
   This replaces the mobile navigation below when the
   screen size increases.
*/

.site-nav {
    background: white;
    color: var(--primary-text);
    border-bottom: 1px solid var(--nav-separator);
    padding: 0 4vw;
    width: 100%;
    z-index: 0;
    margin-bottom: var(--header-bottom-spacing);
}

.site-nav-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: var(--nav-max-width);
}

.site-nav-right {
    margin-left: auto;
}

@media (min-width: 1060px) {
    .site-nav-container {
        padding: 0 2vw;
    }
}

@media (min-width: 1140px) {
    .site-nav-container {
        padding: 0;
    }
}

.site-nav .nav li a {
    color: currentColor; /* Inherit the color from the parent */
}

/* Remove the margins when we're on the blog post itself.
   This is because it's adding an extra blue space between
   the nav and the article. */
.post-template .site-nav {
    margin-bottom: 0;
}

.social-link {
    color: currentColor;
}

.social-link svg {
    height: 1.8rem;
    fill: currentColor;
}

.rss-button {
    color: currentColor;
}

.rss-button svg {
    fill: currentColor;
}

/* Mobile Navigation
   ----------------------------

   Mobile navigation has the styles for the mobile version
   of the local nav. This includes links to "Home" and the 
   various tags.
*/

.mobile-nav {
    display: none;
    border-bottom: 1px solid var(--nav-separator);
    background: white;
    margin-bottom: var(--nav-bottom-spacing);
}

.mobile-nav .nav {
    font-size: var(--nav-fontsize);
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 13px;
    max-width: 1040px;
}

.mobile-nav li a {
    color: var(--nav-color);
    padding: 10px 0px;
}

/* Remove margin between the nav and the article title */
.post-template .mobile-nav {
    margin-bottom: 0;
}

/* Link styles
   ----------------------------

   Has styles for link interactions. This includes 
   considerations for accessibility.
*/

a:focus, a:hover {
    text-decoration: underline;
}

/* Post styles
   ----------------------------

   Styles on the blog posts.
*/

.post-full-header {
    padding: var(--post-spacing) 0;
}

.post-full-content {
    padding: var(--post-spacing) 0;
}

.post-full-meta-filed {
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--secondary-text);
    font-weight: 600;
}

/* --- */


.site-main {
    z-index: 100;
}

/* 3. Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: 90px) {
    .author-template .post-feed,
    .home-template .post-feed,
    .tag-template .post-feed {
        margin-top: 0;
    }
}


.site-header-content .author-profile-image {
    z-index: 0;
}

.tag-template .site-header {
    background: initial;
}

.tag-template .site-header-content {
    align-items: start;
    color: #333;
    padding-bottom: 0;
}

@media (min-width: 700px) {
    .tag-template .site-header-content {
        align-items: center;
    }

    .tag-template .site-header-content {
        padding: 7vw 4vw;
    }
}

.tag-template .site-header-content .site-description {
    color: #6c6c6c;
    margin-bottom: 0;
}

.site-title {
    font-size: 4rem;
    font-weight: 500;
    z-index: 10;
}

.site-logo {
    max-height: 104px;
    margin-bottom: 24px;
}

.site-description {
    margin: 0 0 1em 0;
    font-size: 2rem;
    font-weight: 400;
    z-index: 0;
}

.tag-template .site-title, .tag-template .site-description {
    text-align: left;
}

.side-menu {
    border-radius: 3px;
    height: 33px;
    width: 33px;
    text-align: center;
    float: right;
    padding-top: 3px;
    padding-left: 1px;
}

.side-menu:hover, .side-menu:active {
    background-color: rgba(0,0,0,0.15);
}

.side-menu svg {
    width: 17px;
    height: 17px;
}

.side-menu svg path {
    fill: white;
}

.side-nav {
    background: #60a5da;
    padding: 18px 10px;
}

.post-full-header .post-full-meta-date {
    color: #999;
}

.post-full-title {
    padding-bottom: 2rem;
}

@media (max-width: 640px) {
    .mobile-nav {
        display: block;
    }
}

@media (max-width: 590px) {
    .site-logo {
        height: 80px;
    }

    .site-title {
        font-size: 3.4rem;
    }
}

@media (max-width: 320px) {
    .site-title {
        font-size: 2.5rem;
    }
    .site-description {
        font-size: 1.5rem;
    }
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */

.nav-logo {
    height: 33px;
    margin-left: -5px;
}

.site-nav-left {
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.site-nav-logo:focus {
    text-decoration: none;
}

.nav li a:hover,
.nav li a:focus {
    text-decoration: underline;
    opacity: 1;
}

.social-link {
    padding: 8px;
}

.social-link:focus {
    opacity: 1;
}

.social-links a:last-of-type {
    padding-right: 0;
}

.social-link-email svg,
.social-link-reddit svg {
    height: 1.6rem;
}

.subscribe-button:focus {
    text-decoration: none;
    opacity: 1;
}

.rss-button:focus {
    opacity: 1;
}

.side-bar {
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    width: 14em;
    right: 0;
    background-color: rgba(242,242,242,0.975);
    height: 100%;
    box-shadow: -1px 0 1px rgba(0,0,0,0.2);
    transition: transform .3s ease-in-out 0s;
    transform: translateX(100%);
}

.side-bar.show {
    transform: translateX(0);
}

.side-bar .side-bar-list {
    padding-left: 2.160rem;
    padding-right: 0;
    list-style: none;
    font-size: 1.322rem;
    color: #333;
}

.side-bar .side-bar-list a {
    color: #333;
}

.side-bar .side-bar-title {
    font-size: 1.080rem;
    text-transform: uppercase; 
    padding-top: 3.168rem;
    padding-bottom: 2.303rem;
    margin-bottom: -2.160rem;
    color: #888;
}

.side-bar-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em 1em 1em;
}

.side-bar-close svg {
    height: 18px;
}

.side-bar-close svg path {
    fill: #bfbfbf;
    transition: fill .15s ease-in-out 0s;
}

.mobile-nav .nav li {
    text-transform: capitalize;
}

.side-bar-close:hover svg path {
    fill: #575757;
}

@media (max-width: 980px) {
    .site-nav-right {
        display: none;
    }
}

@media (max-width: 840px) {
    .nav {
        margin: 0 0 0 -1vw;
    }
    .site-nav {
        font-size: 1.1rem;
    }
    .site-nav .nav li a {
        padding: 10px 8px;
    }
}

@media (max-width: 740px) {
    .site-nav .nav-about {
        display: none;
    }
}

@media (max-width: 640px) {
    .site-nav {
        display: none;
    }
}


/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-card:focus {
    box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
}

.post-card-content-link:focus {
    text-decoration: none;
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-full-image {
    background-color: #fff;
    background-repeat: no-repeat;
}

.post-full-content:before,
.post-full-content:after {
    display:none;
}

.post-full-content a {
    color: #3c484e;
}

.post-full-content a:focus {
    color: var(--blue);
    text-decoration: none;
}

.post-full-content img,
.post-full-content video {
    max-width: 700px;
    width: auto;
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
    margin-top: 0px;
    padding-top: 0px;
}

@media (max-width: 700px) {
    .post-full-content img,
    .post-full-content video {
        max-width: 100%;
    }
}


/* 7.2. Post Footer
/* ---------------------------------------------------------- */

.author-card-name a:focus {
    text-decoration: none;
}

.author-card-button:focus {
    border-color: var(--blue);
    color: var(--blue);
    text-decoration: none;
}


/* 7.4. Related posts
/* ---------------------------------------------------------- */

.read-next-card {
    background: var(--lightblue) center center;
}

.read-next-card:before {
    background: none;
}

.read-next-card-header-title a:focus {
    text-decoration: none;
}

.read-next-card-content li a:focus {
    opacity: 1;
}

/* 7.5. Floating Header
/* ---------------------------------------------------------- */

.floating-header-logo a:focus {
    text-decoration: none;
}


/* 10. Subscribe Overlay
/* ---------------------------------------------------------- */

.subscribe-overlay-close:hover {
    cursor: pointer;
}


/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    background: var(--lightblue);
}

.site-footer-content,
.site-footer-content a {
    color: white;
}

.site-footer-content a:hover,
.site-footer-content a:focus {
    color: rgba(255,255,255,1);
    text-decoration: underline;
}

@media (max-width: 650px) {
    .site-footer-nav {
        display: block;
        text-align: center;
    }
}
